* {
    font-family: 'Segoe UI', Arial, sans-serif;   
    line-height: 2;
}
header {    
    display: block;
    position: sticky;
    overflow: hidden;    
    margin: -10px;
    background-image: linear-gradient(to right, #0b17c4 , #077951);
}
.logo {   
    float: left;     
    height: 70px;
    margin: auto;
}
nav ul {
    float: right;
}
li, li a {        
    display: inline-block;
    color: white;
    text-align: center;
    padding: 7px 7px;
    text-decoration: none;
}
li:hover {
    background-color: #ccecdc25;    
}
h1, h2 {
    text-align: center;
}
.container {
    display: flex;    
    flex-wrap: wrap;        
}
.item {
    min-height: 300px;
    padding: 10px;
    margin: auto;    
    box-shadow: 2px 2px 8px 0 rgb(128 128 128);
    background-color: cornsilk;
    border-radius: 10px;
    width: 300px; 
    min-width: 300px;          
    flex-grow: 1;      
    max-width: 400px;  
}
.break {
    flex-basis: 100%;
    height: 10px;
}
.settings {
    min-height: 200px;
    padding: 10px;
    margin: auto;    
    box-shadow: 2px 2px 8px 0 rgb(128 128 128);
    background-color: rgb(220, 229, 255);
    border-radius: 10px;
    width: 300px; 
    min-width: 300px;          
    flex-grow: 1;      
    max-width: 400px; 
}
#reset {
    background-color: red;
    color: white;
    border-radius: 5px;
    margin-left: 25%;
    width: 50%;    
    height: 50px;
    font-size: 16px;
}
#reset:hover {
    cursor: pointer;
    transition: 0.7s;
    background-color: white;
    color: black;
}
.dropdown {
    margin: 10px 10% 20px 10%;
}
.checkbox {
    margin: 10px 25% 20px 25%;
}
label {
    display: inline-block;    
    width: 150px;    
}
select {
    display: inline-block;
    width: 150px; 
}
#formButton {
    background-color: #f1c50e;
    border-style: none;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    box-shadow: 2px 2px 8px 0 rgb(128 128 128);
    transition-duration: 0.5s;
    margin: 22px auto ;
    padding: 17px 58px 19px 57px;
    border-radius: 50px;
    display: table;    
    cursor: pointer;
}
#formButton:hover {
  background-color: #c7a10b; 
  color: white;
}
#intro {
    color:black;
    font-size:200%;
    text-align: center;
}
#score {
    color:blue;
    font-size:400%;
    font:bold;
    text-align: center;
}
#message{
    color:black;
    font-size:100%;
    text-align: center;
}
.loader {
    display: none;   
    margin: auto; 
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {    
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
footer  {
    background-color:#333333;
    color: white;
    font-size: 80%;
    margin: -10px;
    padding: 0px 20px 5px 20px;
}

/* For Dashboard */
.small_charts {
    display: flex;
}
.chart {
    width: 30%;
    flex-grow: 1;
}
.large_chart {
    width: 100%;
    flex-grow: 1;
}
.chart label, .chart select {
    margin-left: 37%;
    font-size: 15px;
}