{% extends "layout.html" %}
{% block main %}
    <h1>Interactive Dashboard</h1>
    <script>
        function cbPie(selection) {
            $.getJSON({
                url: "/cbPie",
                data: {'data': selection},
                success: function (result) {
                    Plotly.newPlot('pieChart', result, {})
                }
            })            
        }
        function cbBar(selection) {
            $.getJSON({
                url: "/cbBar",
                data: {'data': selection},
                success: function (result) {
                    Plotly.newPlot('barChart', result, {})
                }
            })            
        }
       
    </script>


    <section class="all_charts">        
        <div class="chart">
            <h2>Data Distribution by Feature</h2>
            <label for="feature1">Select feature:</label>
            <select name="feature1" method="GET" action="/dashboard" onchange="cbPie(this.value)">
                {% for feature in feature1[1:] %}
                <option value="{{feature}}">{{feature}}</option>
                {% endfor %}
            </select> 
            <div id="pieChart"></div>
        </div>
        <div class="chart">
            <h2>Approval/Rejection Rate within Feature</h2>
            <label for="feature2">Select feature:</label>
            <select name="feature2" method="GET" action="/dashboard" onchange="cbBar(this.value)">
                {% for feature in feature2[1:] %}
                <option value="{{feature}}">{{feature}}</option>
                {% endfor %}
            </select> 
            <div id="barChart"></div>
        </div>

    </section>

    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script type="text/javascript">
        var graph1 = {{ graphJSON1 | safe }};
        var graph2 = {{ graphJSON2 | safe }};
        Plotly.plot("pieChart", graph1,{}); 
        Plotly.plot("barChart", graph2,{}); 
    </script>         
{% endblock %}