<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="Author" content="Anh Do">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Credit Approval Application">
    <title>Credit Approval Application</title>
    <link rel="icon" href="/static/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
        <header>
            <img class="logo" src="/static/Client_SteadyBank logo.png" alt="SteadyBank logo">            
            <nav>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="javascript:void(0)">About Us</a></li>
                    <li><a href="javascript:void(0)">Contact Us</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <form action="/result" method="post" id="app_form">
                <h1>Credit Approval Application</h1>
                <div class="container">
                    <div class="item">
                        <section>
                            <h2>Basic Information</h2>
                            <div class="dropdown">
                                <label for="select-gender">Gender</label>
                                <select id="select-gender" name="GENDER">
                                    <option value="Male">Male</option>
                                    <option value="Female">Female</option>
                                </select>
                                <br>
                                <label for="select-DOB">Date of Birth</label>
                                <input id="select-DOB" type="date" placeholder="MM/DD/YYYY" name="DOB">
                                <br>
                                <label for="select-education">Education</label>
                                <select id="select-education" name="EDUCATION">
                                    <option value="Highschool">Highschool</option>
                                    <option value="Bachelor's/Master's">Bachelor's/Master's</option>
                                </select>
                                <br>
                                <label for="select-marital">Marital Status</label>
                                <select id="select-marital" name="MARITAL_STATUS">
                                    <option value="Single">Single</option>
                                    <option value="Married">Married</option>
                                </select>
                                <br>
                                <label for="select-children">Number of Children</label>
                                <select id="select-children" name="CHILDREN_COUNT">
                                    <option value="0">0</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value=">2">>2</option>
                                </select>
                                <br>
                                <label for="family-size">Family Size</label>
                                <select id="family-size" name="FAMILY_SIZE">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value=">2">>2</option>
                                </select>
                            </div>
                        </section>
                    </div>
                    <div class="item">
                        <section>
                            <h2>Financial Status</h2>
                            <div class="dropdown">
                                <label for="select-employment-status">Employment Status</label>
                                <select id="select-employment-status" name="EMPLOYMENT_STATUS">
                                    <option value="Employed">Employed</option>
                                    <option value="Unemployed">Unemployed</option>
                                </select>
                                <br>                            
                                <label for="select-employment-date">Employment Date</label>
                                <input id="select-employment-date" type="date" placeholder="MM/DD/YYYY" name="EMPLOYMENT_DATE">
                                <br>
                                <label for="annual-income">Annual Income</label>
                                <select id="annual-income" name="ANNUAL-INCOME">
                                    <option value="Low">Low</option>
                                    <option value="Medium">Medium</option>
                                    <option value="High">High</option>
                                </select>
                                <br>
                                <label for="select-industry">Industry</label>
                                <select id="select-industry" name="INDUSTRY">
                                    <option value="Commercial associate">Commercial associate</option>
                                    <option value="Working">Working</option>
                                </select>
                                <br>
                                <label for="select-occupation">Occupation</label>
                                <select id="select-occupation" name="OCCUPATION">
                                    <option value="Accountant">Accountant</option>
                                    <option value="Laborer">Laborer</option>
                                    <option value="Sales staff">Sales staff</option>
                                </select>
                                <br>
                                <label for="select-living">Living Style</label>
                                <select id="select-living" name="LIVING_STYLE">
                                    <option value="Rented">Rented</option>
                                    <option value="House/Apartment">House/Apartment</option>
                                    <option value="With parents">With parents</option>
                                </select>
                            </div>
                        </section>
                    </div>
                    <div class="item">
                        <section>
                            <h2>Ownership</h2>
                            <div class="checkbox">
                                <label for="email">Email</label>
                                <input type="checkbox" id="email" name="EMAIL">    
                                <br>
                                <label for="mobile phone">Mobile phone</label>
                                <input type="checkbox" id="mobile-phone" name="MOBILE_PHONE">    
                                <br>   
                                <label for="work phone">Work phone</label>
                                <input type="checkbox" id="work-phone" name="WORK_PHONE">    
                                <br>
                                <label for="car">Car</label>
                                <input type="checkbox" id="car" name="CAR">    
                                <br>
                                <label for="home">Home</label>
                                <input type="checkbox" id="home" name="HOME">    
                                <br>
                            </div>
                        </section>
                    </div>                
                </div>
            </form>
            <input type="submit" form="app_form" value="Show Results" id="button">
            
             
        </main>
        <footer>
            <p><u>Disclaimer</u>: The FICO®&nbsp;Score Estimator is for informational purposes only and is intended to approximate the FICO Score range based on answers to the questions provided.&nbsp;Your actual score, and the impact of any actions taken, results from a complex interaction of FICO's scoring methodologies and the information on your credit report, some of which changes daily
            <p>©Copyright 2022 by Hooli Financial Group. All rights reserved.</p>
        </footer>
       
</body>
</html>