<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="Author" content="Anh Do">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Credit Approval Application">
    <title>{{ title }}</title>
    <link rel="icon" href="/static/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/static/style.css"> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>   
</head>
<body>
        <header>
            <img class="logo" src="/static/Client_SteadyBank logo.png" alt="SteadyBank logo">            
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/dashboard">Dashboard</a></li>
                </ul>
            </nav>
        </header>
        <main>
            {% block main %}{% endblock %}                
        </main>
        <footer>
            <p><u>Disclaimer</u>: The credit score estimated from the HCAA application above is for informational 
                purposes only and is intended to approximate the FICO Score range based on answers to the questions provided.
                Your actual score, and the impact of any actions taken, results from a complex interaction of FICO's scoring methodologies
                 and the information on your credit report, some of which changes daily.
            <p>©Copyright 2022 by Hooli Financial Group. All rights reserved.</p>
        </footer>
       
</body>
</html>